h1 {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

h3 {
  color: #000000;
  font-family: "Overlock";
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

h4 {
  color: #000000;
  font-family: "Overlock";
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

h5 {
  color: #000000;
  font-family: "Overlock";
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
h6 {
  color: #000000;
  font-family: "Overlock";
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
  float: left;
  padding: 0px 5px 5px 0px;
  margin: 0px 10px 0px 0px;
}

a {
  color: #841a1c;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #841a1c;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #b74d4e;
}

p,
li,
ul {
  font-size: large;
  color: rgb(58, 50, 50);
}

.asso {
  text-align: justify;
}

.page {
  margin: 2vh 10vw 2vh 10vw;
  justify-content: left;
  min-height: 50vh;
}
